<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Não Encontrada - 404</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/404.css') }}">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>404</h1>
            <h2>Ops! Página não encontrada</h2>
            <p>A página que você está procurando pode ter sido removida, teve o nome alterado ou está temporariamente indisponível.</p>
            <a href="/" class="btn">Voltar para a Página Inicial</a>
        </div>
        <div class="image">
            <img src="https://cdn-icons-png.flaticon.com/512/4263/4263527.png" alt="Imagem de erro 404">
        </div>
    </div>
</body>
</html>