<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <title>Document</title>
</head>
<body>
    <form action="logon" method="post" class="form-login">
        <label for="username">Nome de usuario</label>
        <input type="text" name="username" id="username" autocomplete="off" required>
        <label for="password">Senha</label>
        <input type="password" name="password" id="password" autocomplete="off" required>
        <input type="submit" value="Entrar">
    </form>
</body>
</html>